@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/*Body*/

#bodyServicios {
    background-image: url('../resources/fondoNosotros.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

#bodyHome {
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

#multi{
    background-image: url('../resources/fondoMulti.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

#bodyUs {
    background-image: url('../resources/fondoNosotros2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

/*Barra de navegacion*/

.menu {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuItems {
    display: flex;
    list-style: none;
   
}

.menuIrems li {
    border-radius: 3px;
    margin: 0 5px;
}

.menuItems li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.btn-menu {
    margin-right: 30px;
    font-size: 25px;
    color: white;
    display: none;
}

.logo {
    margin-left: 20px;
}

.logo img {
    width: 25%;
}

.botonNav{
    border-radius: 30px;
    background-color: #f8ac11;
    text-decoration: none;
}

ul.show {
    top: 65px;
}


/*CSS servicios*/

.servicios{
    text-align: center;
    position: relative;
    display: table;
    text-decoration: none;
    top: -15vh;
    left: 3vw;
}

.servicios div{
    padding: 2.8vh;
    width: 20vw;
    display: table-cell;
    position: relative;
    text-decoration: none;
    align-items: center;
}

.servicios h2{
    font-family: 'Poppins', sans-serif;
    color:  #f8ac11;
    font-size: 25px;
    text-decoration: none;
}

.servicios div p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2.5vmin;
    text-decoration: none;
}

.btn5{
    float: left;
}

.btn2{
    width: 100%;
    position: relative;
    float: center;
    text-align: center;
    top: -14vh;
}

.botones {
    position: relative;
    width: 100%;
    top: 10vh;
}

.informacionServicios {
    Width: 50%;
    /*margin-top: 10vh;*/
    float: left;
    text-align: left;
    position: relative;
    left: 8vw;
    top:-5vh;
}

.imagenServicios {
    width: 50%;
    position: relative;
    float: right;
    text-align: center;
}

.text1Servicios{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 4vmin;
    font-weight: normal;
}

.titleServicios{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18vmin;
    color:white;
}

/*Parte generica, se puede aplicar en varias vistas*/

.botonPrin {
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 4vmin;
    background-size: cover;
    border-radius: 30px;
    background-color: #f8ac11;
    text-decoration: none;
    padding: 4px;
}

.btn3 {
    position: relative;
    width: 100%;
    text-align: center;
    top: -16vh;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12vmin;
    color:white;
}

.subtitle{
    font-family: 'Poppins', sans-serif;
    color: #f8ac11;
    font-size: 5vmin;
}

.text1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3vmin;
}

.text2{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2.4vmin;
    font-weight: bold;
}

.informacion {
    Width: 60%;
    float: left;
    text-align: left;
    position: relative;
    left: 8vw;
}

.informacion p{
    left: 50px;
}

.imagen {
    width: 40%;
    height: 100%;
    position: relative;
    float: right;
    text-align: center;
}

.btn{
    width: 100%;
    position: relative;
}

.boton4{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 3vmin;
    background-size: cover;
    border-radius: 30px;
    background-color: #f8ac11;
    text-decoration: none;
    padding: 9px;
}

.boton4:hover {
    color: white;
}

.link {
    text-decoration: none;
}

/*CSS nosotros*/

.informacionUs {
    width: 100%;
    align-items: center;
    text-align: center;
}

.titleUs {
    color: #f8ac11;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 8vmin;
}

.information {
    color : white;
    font-family: 'Poppins', sans-serif;
    font-size: 3vmin;
}

/*Renderizado para movil*/

@media only screen and (max-width:800px){
    .informacion, .imagen, .btn, .imagenServicios, .informacionServicios{
        width: 100%;
        position: inherit;
        align-items: center;
    }

    .information {
        font-size: 4vmin;
    }

    .titleUs {
        font-size: 10vmin;
    }

    .imagen {
        float: center;
    }

    .subtitle {
        font-size: 30px;
    }

    .text1 {
        font-size: 24px;
    }

    .text2 {
        font-size: 20px;
    }

    .informacion{
        text-align: center;
        left: 0;
    }

    .informacionServicios {
        position: inherit;
        text-align: center;
    }
    
    .btn2 {
        top: 3vh;
        text-align: center;
    }

    .imagenServicios {
        margin-top: 3vh;
        position: inherit;
    }

    .imagenServicios img{
        margin-bottom: 4vh;
        width: 50%;
    }

    .imagenServicios a {
        top: 10vh;
    }

    .servicios {
        position: inherit;
        top: -10vh;
        left: 0;
    }

    .servicios div{
        width: 100%;
        display: table-row;
    }

    .servicios div h2 {
        font-size: 40px;
    }

    .servicios div p{
        font-size: 20px;
    }

    .informacion p{
        left: 0;
    }

    .imagen{
        top: 5vh;
        text-align: center;
    }

    .btn {
        text-align: center;
        right: 0%;
    }

    .boton4 {
        font-size: 20px;
    }

    .botonPrin {
        font-size: 20px;
    }

    .btn3 {
        width: 100%;
        position: relative;
        align-items: center;
        top: -10vh;
        right: 0%;
    }

    .logo {
        padding-left: 5px;
    }

    .logo img {
        width: 50%;
    }

    .menu {
        height: 65px;
    }

    .btn-menu {
        display: inline-flex;
    }

    .menuItems {
        background-color: black;
        position: fixed;
        align-items: center;
        width: 100%;
        margin: 0 0 0 0;
        height: calc(100% - 65px);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menuItems li {
        padding: 0 0 0 0;
        text-align: center;
        overflow: scroll;
        margin: 20px 0 0 0;
        left: 0;
        line-height: 30px;
        text-align: center;
    }
    
    .menuItems li a {
        text-align: center;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    ul {
        padding-inline-start: 0px;
    }
}